---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <h2 class="mb-4 text-3xl font-medium">About Me</h2>
        <p class="mt-0">
            Hi! My name is <b>p4rr4</b>, a 21 y/o <b>Computer Science student💻</b> and <b>CTF Player🚩</b>.
            I'm interested in web and application security, as well as software development, and I'm currently studying Computer Science at the University of Alicante.
        </p>
      </div>

      <h2 class="mb-4 text-3xl font-medium">Contact</h2>
      Mail: <a href="javascript:window.open('mailto:'+'p4rr4'+'@d'+'uck'+'.com')">p4rr4 [@] duck [.] com</a>
    </div>
  </section>
</Layout>
